@font-face {
    font-family: "Open Sans", sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
}

*{
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans";
}

header, footer {
    background: linear-gradient(#0C233E,#1A373D,#0C233E);   
}

body {
    background-color: #eeeeee;
}

/* Header */

.home-logo {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    list-style: none;
    font-size: 25px;
}

.nav-area {
    max-width: 85%;
    margin: auto;
    padding: 35px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.nav-area ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 10px;
    position: relative;
}

.nav-area ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 100px;
}

footer ul {
    display: flex;
    align-items: center;
}

footer li {
    list-style: none; 
    margin: auto 20px;
}

footer img{
    width: 35px;
}

/* Effects */

.nav-area ul li::after {
    content: "";
    height: 3px;
    width: 0px;
    background: white;
    position: absolute;
    left: 0px;
    bottom: -10px;
    transition: 0.5s;
}

.nav-area ul li:hover::after {
    width: 100%;
}
